   <!-- First slider carousel Section -->
   <div class="first-slider-container" ondragstart="return false;">
    <div class="right-box">
      <img src="./../../../../assets/images/stand-ad1.JPG">
    </div>
    <div class="first-slider">
      <!--  [slidesPerView]="1" [spaceBetween]="500" (swiper)="onSwiper($event)" (slideChange)="onSlideChange()" -->
      <!-- <swiper dir="rtl" [config]="swiperConfig"> -->
      <swiper dir="rtl" [autoplay]="{delay: 1000}" [loop]="true">
        <ng-template class="firstSwiperSlide" swiperSlide *ngFor="let item of firstSliderItems">
          <img class="firstSliderImage" [routerLink]="['./detail', item.id]" [src]="item.img" alt="">
        </ng-template>
      </swiper>
    </div>
    <div class="left-box">
      <img src="./../../../../assets/images/stand-ad2.jpg">
    </div>
  </div>
  <!-- End of First slider Carousel section -->
