<!-- <div class="container">
  <button class="pre-btn"></button>

  <button class="next-btn"></button>
</div> -->

<nav aria-label="..." dir="ltr">
  <ul class="pagination">
    <li class="page-item disabled">
      <span class="page-link font-weight-bold">قبلی</span>
    </li>
    <li class="page-item"><a class="page-link" >1</a></li>
    <li class="page-item active">
      <span class="page-link">
        2
        <span class="sr-only">(current)</span>
      </span>
    </li>
    <li class="page-item"><a class="page-link">3</a></li>
    <li class="page-item">
      <a class="page-link font-weight-bold">بعدی</a>
    </li>
  </ul>
</nav>
