
/* Mobile first Styles */
.nv{
  background-color: rgb(204, 203, 255);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky !important;
  padding: 13px 7px;
  box-shadow: 0 3px 2px rgba(61, 61, 61, 0.5);
  /* border-bottom: 2px solid rgb(255, 58, 58) !important; */

  position: relative;
  z-index: 0;
}

.right-side{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo-box{
  /* min-width: fit-content;
  height: 100%; */
  width: 0;
  margin: 0;
  visibility: hidden;
  opacity: 0;
}

.logo-box img{
  width: 0;
  /* height: 38px; */
  /* min-width: fit-content; */
  border-radius: 12px;
  cursor: pointer;
}



.menu-icon-box{
  height: 30px;
  padding: 0 7px;
  border-radius: 4px;
  font-size: 18px;
  display: flex;
  gap:14px;
  justify-content: center;
  color: rgb(0, 0, 0);
  align-items: center;
  transition: all .2s;
}

.menu-icon-box i{
  cursor: pointer;

}


.search-box{
  width: 100%;
  max-width: 400px;
  height: 40px;
  margin: 0 7px;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  transition: all .3s;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

form{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-box:hover{
  background-color: rgb(245, 243, 243);
}


.search-box input{
  width: 100%;
  height: 100%;
  font-weight: 600;
  margin: 0 9px;
  background-color: transparent;
}

.search-box .search-icon{
  margin:  7px;
  color: #888;
}

.location-icon-box{
  width: fit-content;
  height: fit-content;
  padding: 0 5px;
}

.location-icon-box .location-icon{
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.bag-icon-box{
  margin: 0 2px;
  width: 42px;
  height: 36px;
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
  align-items: center;
  border-radius: 6px;
  color: red;
  transition: all .2s;
}

.bag-icon-box:hover, .bag-icon-box.active{
  background-color: rgb(151, 151, 151);
  cursor: pointer;
}

.bag-icon{

  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}

.bag-icon-box .badge{
  position: absolute;
  bottom: -8px;
  right: -13px;
  border-radius: 14px;
  /* color: rgb(255, 211, 245); */
  background-color: rgb(255, 0, 0);
  color: white;
  font-weight: 100;
  padding: 1.4px 4px;
  font-size: 12.5px;
  font-weight: 600;
}

.suggestion_Box{
  width: 130%;
  position: absolute;
  border-radius: 6px;
  top:45px;
  /* left: -70px; */
  padding: 8px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.342);

}


.suggestion_Box .images{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  padding: 0px;
}

.images img{
  width: 100%;
  height: fit-content;
  object-fit: contain;
  border-radius: 6px;
}

.suggestion_Box hr{
  width: 100%;
  height: 1px;
  background: rgb(68, 68, 68);
  margin: 8px 0 12px;
}

.suggestion_Box .titleBox{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
  width: 100%;
  font-size: 14px;
  font-weight: 800;
  /* font-weight: 800; */
  color: rgb(63, 63, 63);
  height: 30px;
  padding-right: 8px;
}

.suggestion-swiper{
  width: 100%;
  height: fit-content;
}

 :host ::ng-deep .suggestion-swiper .suggestion{
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 800;
  padding: 2px;
}

:host ::ng-deep .suggestion-swiper .suggestion .box{
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
  border-radius: 10px;
  padding: 8px;
  background: rgb(226, 226, 226);
}



/* End of Mobile first Styles */


@media (min-width: 375px) {

  .suggestion_Box{
    width: 100%;
  }
}


/* Big Mobile styles */
@media (min-width: 768px) {
  .logo-box{
    width: fit-content;
    min-width: fit-content;
    height: 100%;
    visibility: visible;
    opacity: 1;
  }

  .logo-box img{
    /* width: 0; */
    height: 38px;
    width: fit-content;
    min-width: fit-content;
  }


.menu-icon-box{
  padding: 0 20px;
  gap:20px;
}


.suggestion_Box{
  border-radius: 10px;
  padding: 8px;
  }

.suggestion_Box .images{
  padding: 17px;
}

.images img{
  border-radius: 10px;
}

.suggestion_Box .titleBox{
  gap: 6px;
  font-size: 17px;
  font-weight: bolder;
  height: 40px;
  padding-right: 15px;
}

 :host ::ng-deep .suggestion-swiper .suggestion{
  font-size: 15px;
  font-weight: 700;
  padding: 6px;
}

}
/* End of Big Mobile styles */


/* Loptop styles */
@media (min-width: 1024px) {
  .search-box{
    width: 420px;
  }

  .bag-icon-box{
    margin-left: 10px;
  }

}
/* End of Loptop styles */
