.home{
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

app-navbar{
  width: 100%;
  /* z-index: 1; */
  /* position: sticky; */
}

.mycontainer{
  width: 100%;
  height: fit-content;
  /* padding-top: 50px;  z-index: -1; */
}







app-location{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}



@media (min-width:500px){

  .underlay{
    width: 100%;
    height: 100%;
  }

  .mycontainer{
    width: 100%;
    /* margin: 0 20px; */
  }

  app-navbar{
    width: 100%;
  }
}
/* End of Big mobile styles */


/* Loptop Styles */
@media (min-width: 1024px) {

  .home{
  margin-top: 15px;
  }

  .mycontainer{
    padding: 0 4vw;
  }
}
/* End of loptop Styles */

