<div class="home">
  <div class="mycontainer">
    <app-first-slider></app-first-slider>
    <app-titles></app-titles>
    <app-third-ads></app-third-ads>
    <app-forth-container></app-forth-container>
    <app-covered-slider [items]="wow_off_items" coverTitle="شگفت انگیز"></app-covered-slider>
    <app-two-horizontal-ads [items]="two_horizontal_ads"></app-two-horizontal-ads>
    <app-normal-slider [items]="best_seller_items" title="محصولات پرفروش"></app-normal-slider>
    <app-covered-slider [items]="newProducts
    " coverTitle="جدیدترین محصولات
    " bgColor="rgb(77, 77, 77)"></app-covered-slider>
  </div>
</div>
