.home{
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

app-navbar{
  width: 100%;
  /* z-index: 1; */
  /* position: sticky; */
}

.mycontainer{
  width: 100%;
  height: fit-content;
  /* padding-top: 50px;  z-index: -1; */
}

/* First Slider Section */
.first-slider-container{
  width: 100%;
  height: fit-content;
  margin-top: 4px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}


.right-box, .left-box{
  /* visibility: hidden; */
  /* opacity: 0; */
  width: 0;
  /* min-width:130px; */
  align-self: stretch;
  /* margin: 0 8px; */
  background-color: silver;
  border-radius: 20px;
  overflow: hidden;
}

.right-box img, .left-box img{
  width: 100%;
  height: 100%;
  /* border-radius: 20px; */
  object-fit: cover;

}

.first-slider{
  width: 100%;
  height: fit-content;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  /* border-radius: 10px; */
  height: 350px;
  overflow: hidden;
  z-index: 0;
}

.first-slider swiper {
  width: 100%;
  height: 100%;
}

:host ::ng-deep .firstSwiperSlide {
  color: #000;
  text-align: center;
  line-height: 300px;
  width: 100%;
  z-index: 0;
  height: 100%;
}


:host ::ng-deep .firstSwiperSlide .firstSliderImage{
  width:100% ;
  height: 100%;
  object-fit:cover;
}
/* End of First Slider Section */




/* Titles Slider */
.titles{
  width: 100%;
  height: fit-content;
  margin-top: 8px;
  width: 100%;
  z-index: -1 !important;
}

.titles .swiper{
  width: 100%;
  height: fit-content;
}

:host ::ng-deep .titles-swiper-slide{
  width: fit-content;
}

.titles .titleBox{
  min-height: 100%;
  overflow: hidden;
  border-radius: 60px;
  background-color: rgb(236, 236, 236);
  padding: 2px 5px;
  display: flex;
  /* width: fit-content; */
  justify-content: flex-start;
  align-items: center;
  gap:10px;
  padding-left:10px;
  cursor: pointer;
}

.titles .titleBox .imageTitle{
  width: 33px;
  height: 33px;
  object-fit: cover;
  border-radius: 50%;
}

.titles .titleBox .titleText{
  height: 40px;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content:center;
}
/* End of Titles Slider */

/* Third ads Section */
.third-ads-container{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-top: 10px;
  /* border-radius: 4px; */
  z-index: 0;
  background-color: rgb(165, 0, 0);
  gap:3px;
}

.third-ads-container .box-ad{
  width: 100%;
  /* max-width: 500px; */
  height: fit-content;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: space-between;
  border-radius: 4px;
  overflow: hidden;
  /* position: relative; */
  gap:3px;
}

.reverse-items{
  flex-direction: column;
}
/*
.background{
  position: absolute;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  background-color: rgb(255, 196, 240);
  z-index: 0;

} */

.third-ads-container .box-ad .big-item{
  width: 100%;
  height: 100vw;
  z-index: 1;
  cursor: pointer;
}

.third-ads-container .box-ad .big-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;

}

.third-ads-container .box-ad .small-items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  gap:2px;
  z-index: 1;
  width: 100%;
  height: 65vw;
}

.box-ad .small-items img{
  width: calc(33% - 1px);
  height: 50%;
  object-fit: cover;
  border-radius: 4px;
  cursor: pointer;
}
/* End of Third ads Section */


/* Forth Container */
.forth-container{
  width: 100%;
  height: fit-content;
  display: flex;
  /* margin-top: 10px; */
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap:15px;
  background-color: rgb(95, 95, 95);
  /* border-radius: 5px; */
  padding: 10px 6px;
}


.forth-container .stand-ads{
  width: 100%;
  height: fit-content;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:7px;
}

.forth-container .stand-ads .top-ad{
  width: 100%;
  height: calc(100vw - 1px);
  cursor: pointer;
}

.forth-container .stand-ads .top-ad img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.forth-container .stand-ads .bottom-ads{
  width: 100%;
  height: 50vw;
  display: flex;
  column-gap: 5px;
  cursor: pointer;

}

.forth-container .stand-ads .bottom-ads img{
  width: calc(50% - 1px);
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.forth-container .category-container{
  width: 100%;
  padding: 25px 0;
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: rgb(121, 119, 119);
}

.category-container .category-swiper{
  width: 100%;
  height: fit-content;
}

/* End of Forth Container */




/* Two Horizontal ads Container */
.two-horizontal-ads-container{
  width: 100%;

  padding:  10px 5px;
  /* height: 350px; */
  /* margin: 50px 0 ; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.two-horizontal-ads-container img{
  width: 100%;
  /* height: 100%; */
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
}
/* End of Two Horizontal ads Container */



/* Common-covered-slider */
.covered-slider-container{
  margin-top: 10px;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  /* border-radius: 5px; */
  padding: 10px 5px;
  background: linear-gradient(to top,firebrick,rgb(206, 41, 41),rgb(134, 0, 0));
}

.covered-slider-container .cover{
  /* width: 260px;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to top,var(--color-primary-500),var(--color-primary-700)); */
  visibility: none;
  opacity: 0;
  width: 0;
  height: 0;
  font-size: 18px;
  font-weight: 800;
  gap:5px;
}

/* .covered-slider-container .cover img{
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.covered-slider-container .cover .circle-button{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(236, 236, 236);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
} */

:host ::ng-deep .covered-slider-container  .covered-swiper{
  width:100%;
  height: 100%;
  /* background-color: white; */
  /* border-top-left-radius: 20px; */
  /* border-bottom-left-radius: 20px; */
}


/* homepage wow slider slide */

:host ::ng-deep .covered-slider-container  .covered-swiper .normal-swiperSlide{
  padding: 8px ;
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0 0  10px rgb(116, 116, 116);
border: 1px solid rgb(170, 170, 170);
cursor: pointer;

}

:host ::ng-deep .normal-swiperSlide .box{
width: 100%;
height: 100%;
background-color: rgb(255, 255, 255);
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}

:host ::ng-deep .normal-swiperSlide .box img{
width: 100%;
height: 72%;
object-fit: cover;
border-radius: 6px;
}

:host ::ng-deep .normal-swiperSlide .box .specifies{
width: 100%;
height: 28%;
padding: 0px 0;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}

:host ::ng-deep .normal-swiperSlide .box .specifies .price{
font-weight: 700;
letter-spacing: 1px;
}

:host ::ng-deep .normal-swiperSlide .box .specifies .other-price{
color: #888;
font-size: 14px;
text-decoration-line: line-through;
}

:host ::ng-deep .normal-swiperSlide .box .specifies .off{
align-self: flex-start;
background-color: rgb(253, 69, 69);
color: white;
font-size: 15px;
border-radius: 35px;
padding: 0 10px;
font-weight: 500;
}
/* End of Homepage wow slider slide */


.bg-blc{
  background: rgb(77, 77, 77) ;
}
/* End of Common-covered-slider */



/* Normal Slider Container */
.normal-slider-container{
  width: 100%;
  height: 370px;
  padding: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rgb(65, 58, 95); */
}

.normal-slider-container .heading{
  width: 100%;
  height: 55px;
  padding: 0 5PX;
  border-radius: 8px;
  background-color: rgb(211, 211, 211);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.normal-slider-container .heading .title{
  font-size: 17px;
  font-weight: 700;
  color: rgb(121, 29, 29);
}

.normal-slider-container .heading .see-all-box{
  display: flex;
  gap:5px;
  align-items: center;
  margin: 0 5px;
  color: rgb(28, 28, 80);
  font-weight: 700;
  padding: 3px 5px;
  transition: all .3s;
}

.normal-slider-container .heading .see-all-box:hover{
 background-color: rgb(217, 243, 255);
  font-weight: 800;
  border-radius: 6px;
  /* font-size: 15px; */
}

.normal-slider-container .swiper{
  width: 100%;
  height: 100%;
  margin-top: 6px;
  background-color: rgba(89, 89, 221, 0.5);
}
/*
.normal-swiper .normal-slide .box{
  width: 100%;
  height: 100%;
} */

:host ::ng-deep  .normal-slide{
  width: 190px;
  height: 100%;
  padding: 10px;
  /* background-color: forestgreen; */
}

:host ::ng-deep .normal-swiper .normal-slide .box{
  border: 1px solid rgb(126, 126, 126);
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgb(223, 225, 255);
}

:host ::ng-deep .normal-swiper .normal-slide .box .slide-img {
  width: 100%;
  border-radius: 5px;
  height: 75%;
  object-fit: cover;
}

:host ::ng-deep .normal-swiper .normal-slide .box .specifies {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 800;
  color: rgb(90, 1, 1);
  text-align: center;
}

/*
.normal-slide .box .sepcifies .name {
  font-weight: 800;
  color: firebrick;
  text-align: center;
} */


app-location{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

/* Big mobile styles */
@media (min-width: 425px) {

/* Two Horizontal ads Container */
.two-horizontal-ads-container{
  width: 100%;

  padding:  10px 5px;
  /* height: 350px; */
  /* margin: 50px 0 ; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.two-horizontal-ads-container a{
  width: 100%;
  height: fit-content;
}

.two-horizontal-ads-container img{
  width: 100%;
  /* height: 100%; */
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
}
/* End of Two Horizontal ads Container */


}


@media (min-width:500px){

  .underlay{
    width: 100%;
    height: 100%;
  }

  .mycontainer{
    width: 100%;
    /* margin: 0 20px; */
  }

  app-navbar{
    width: 100%;
  }

/* Third ads Section */
.third-ads-container{
  display: flex;
  flex-direction: column;
  gap:3px;
}

.third-ads-container .box-ad{
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  order: 2;
}

.reverse-items{
  flex-direction: row-reverse;
}

.third-ads-container .box-ad .big-item{
  width: 40%;
  height: 40vw;
  border-radius: 10px;
}

.third-ads-container .box-ad .big-item img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.third-ads-container .box-ad .small-items{
  width: 60%;
  height: 30vw;
}

.box-ad .small-items img{
  width: calc(33% - 1px);
  height: 20vw;
  border-radius: 10px;
}
/* End of Third ads Section */



/* Forth Container */
.forth-container{
  flex-direction: row;
  flex-wrap: wrap;
}

.forth-container .stand-ads{

  order: 2;
  width: calc(50% - 8px);
}

.forth-container .stand-ads .top-ad{
  width: 100%;
  height: calc(50vw - 1px);
}

.forth-container .stand-ads .bottom-ads{
  width: 100%;
  height: 25vw;
}

.forth-container .stand-ads .bottom-ads img{
  width: calc(50% - 1px);
  height: 100%;
}

.forth-container .category-container{
  width: 100%;
  padding: 25px 0;
}

.category-container .category-swiper{
  width: 100%;
  height: fit-content;
}

/* End of Forth Container */

/* Two Horizontal ads Container */
.two-horizontal-ads-container{
  padding:  10px 5px;
  justify-content: center;
  flex-direction: row;
  gap: 12px;
}

.two-horizontal-ads-container a{
  width: calc(50% - 12px);
  max-width: 560px;
}

.two-horizontal-ads-container img{
 width: 100%;
}
/* End of Two Horizontal ads Container */

}
/* End of Big mobile styles */




@media (min-width: 768px) {

/* Forth Container */
.forth-container{
  padding: 20px 10px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  align-self: stretch;
  height: 32vw;
  margin: 20px 0px;

  /* max-height: 420px; */
}

.forth-container .stand-ads{
/* order: 1; */
  width: calc(20% - 8px);
  height: 100%;
}

.forth-container .stand-ads .top-ad{
  width: 100%;
  height: calc(65% - 1px);
}

.forth-container .stand-ads .bottom-ads{
  width: calc(100% - 5px);
  height: 35%;
}

.forth-container .category-container{
  width: calc(60% - 25px);
  min-width: 20%;
  order: 2;
  height: 100%;
  align-self: stretch;
  align-self: stretch;
  padding: 25px 0;
}

/* End of Forth Container */

}


/* Loptop Styles */
@media (min-width: 1024px) {

.home{
  margin-top: 15px;
}
  .mycontainer{
    padding: 0 4vw;
  }

/* First Slider Section */
.first-slider-container{
  /* margin-top: 10px; */
  gap:15px;
}

.right-box, .left-box{
  visibility: visible;
  width: 140px;
  /* margin: 0 15px; */
  border-radius: 12px;
}

.first-slider{
  width: 100%;
  border-radius: 10px;
  height: 350px;
}
/* End of First Slider Section */


/* Titles Slider */
.titles{
  margin: 8px 0;
  /* padding: 0 10px; */
}


.titles .titleBox{
  padding: 4px 7px;
}

.titles .titleBox .imageTitle{
  width: 37px;
  height: 37px;
}

.titles .titleBox .titleText{
  font-size: 15px;
  font-weight: 600;
}
/* End of Titles Slider */

/* Third ads Section */
.third-ads-container{
  flex-direction: row;
  gap:3px;
}

.reverse-items{
  flex-direction: row-reverse;
}

.third-ads-container .box-ad{
  width: 100%;
  height: fit-content;
  gap:3px;
}

.third-ads-container .box-ad .big-item{
  width: 40%;
  height: 20vw;
}

.third-ads-container .box-ad .small-items{
  width: 60%;
  height: 20vw;
}

.box-ad .small-items img{
  width: calc(33% - 1px);
  height: calc(10vw - 1px);
}
/* End of Third ads Section */


/* Common-covered-slider */
.covered-slider-container{
  margin: 10px 0;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  padding: 10px 5px;
  background: linear-gradient(to top,firebrick,rgb(206, 41, 41),rgb(134, 0, 0));
}

.covered-slider-container .cover{
  width: 260px;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to top,var(--color-primary-500),var(--color-primary-700));
  visibility: visible;
  opacity: 1;
}

.covered-slider-container .cover img{
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.covered-slider-container .cover .circle-button{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(236, 236, 236);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bg-blc{
  background: rgb(77, 77, 77) ;
}
/* End of Common-covered-slider */


}
/* End of loptop Styles */


/* Large Loptop Styles */
@media (min-width: 1650px) {

  /* First Slider Section */
  .right-box, .left-box{
    width: 160px;
  }

  .first-slider{
    height: 420px;
  }
  /* End of First Slider Section */


/* Titles Slider */
.titles{
  margin: 8px 0;
  padding: 0 60px;
}


.titles .titleBox{
  padding: 6px 8px;
}

.titles .titleBox .imageTitle{
  width: 40px;
  height: 40px;
}

.titles .titleBox .titleText{
  font-size: 18px;
  font-weight: 800;
}
/* End of Titles Slider */


/* Forth Container */
.forth-container{
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  align-self: stretch;
  height: 32vw;
  max-height: 560px;
}

/* End of Forth Container */

  }
  /* End of Large loptop Styles */
